# This is an example file.
# Use a copy of this as a template for configuring a local `.env` file.
# When this application is run locally, variables defined in `.env` are
# loaded as environment variables.

# Django secret. Long and random, e.g.:
# http://www.howtogeek.com/howto/30184/10-ways-to-generate-a-random-password-from-the-command-line/
SECRET_KEY='secret_key_here'

# DEBUG is True by default. Un-comment the following line to set to 'False' to turn it off (e.g. in production).
# DEBUG='False'

# Redis configuration, default port is 6379
REDIS_URL='redis://localhost:6379/1'

# Open Humans OAuth2 project settings.
OH_ACTIVITY_PAGE='https://www.openhumans.org/activity/your-project-name-should-be-here/'
OH_CLIENT_ID='client_id_here'
OH_CLIENT_SECRET='client_secret_here'

# Your app's base URL, used to construct the redirect URI.
# (Don't include a trailing slash!)
# Defaults to 127.0.0.1:5000, w/redirect URI 'http://127.0.0.1:5000/complete'
APP_BASE_URL='http://127.0.0.1:5000'

# Settings module. Change this if you change the app name.
DJANGO_SETTINGS_MODULE='openhumansimputer.settings'

# Where to log to
LOGDIR = '/var/log/imputer/'


# External data/helpers
BASE_DATA_DIR='/usr/share/imputer'
IMP_BIN='impbin'
REF_PANEL='1000GP_Phase3'
DATA_DIR='data'
REF_FA='hg19'
OUT_DIR='outdir'

# Temporary dir
TMP_DIR='/var/tmp'