[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
celery = "*"
arrow = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
"psycopg2" = "*"
whitenoise = "*"
env-tools = "*"
redis = "*"
PyYAML = "*"
open-humans-api = "*"
genipe = "*"
flower = "*"
pandas = "*"
ipython = "*"
django_extensions = "*"
requests_oauthlib = "*"

[dev-packages]
vcrpy = "*"


[requires]

python_version = "3.6"
