{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Uncomment the following if a favicon is added. -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

  <title>Genotype Imputation for Open Humans</title>

  <!-- Bootstrap via CDN. -->
  <!-- Latest compiled and minified CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <nav class="navbar navbar-default navbar-dark bg-primary">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Brand" height=25 style="padding-bottom: 6x;" src="{% static 'magnifying_glass.png' %}"/></a>
          <a class="navbar-brand" href="/">Imputer</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
          <li {% if section == 'about' %} class="active" {%endif%}><a href="/about">About</a></li>
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav">
          <li {% if section == 'dashboard' %} class="active" {%endif%}><a href="{% url 'dashboard'%}">Dashboard</a></li>
        </ul>
        <form class='navbar-form navbar-right' action="{% url 'logout' %}" method="post">
          <div class="form-group">
          </div>
          {% csrf_token %}
          <button type="submit" value="Log out" class="btn btn-default">Logout <span class="fa fa-sign-out"></span></button>
        </form>
        {%else%}
        <form class='navbar-form navbar-right' action="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/" method="get">
          <div class="form-group">
            <input type="hidden" name="client_id" value="{{ client_id }}" />
            <input type="hidden" name="response_type" value="code" />
            <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
          </div>
          <button type="submit" value="Log In" class="btn btn-default">Login <span class="fa fa-sign-in"></span></button>
        </form>
        {%endif%}
    <!-- /.container-fluid -->
  </nav>

  <div class="container">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% block content %} {% endblock %}
  </div>
  <!-- Bootstrap core JavaScript
        ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript via WaxCDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <footer class="footer">
    <div class="fcontainer">
      <p class="text-muted">
        Proudly open-source. Contribute on GitHub
        <a href="https://github.com/arvkevi/openhumansimputer">
        <i class="fa fa-github fa-2x"></i>
           </a> |
        <a href="/about">
           About Imputer
         </a>
      </p>
    </div>
  </footer>
</body>

</html>
