{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container container-fluid">
      <h1 class="display-4">Imputer</h1>
    <dl class="row">
    <dt class="col-sm-3">Project Maintainer</dt>
    <dd class="col-sm-9">Kevin Arvai
      <a href="https://github.com/arvkevi" target="_blank">
        <span class="octicon octicon-mark-github"></span>
      </a>
    </dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">The goal of Imputer is to provide users with a more comprehensive picture of their genome. Direct-to-consumer genetics companies, like 23andMe, only genotype a small fraction of the genome.
      Researchers are finding new genetic locations, not covered by direct-to-consumer genetic tests, that associated with traits and diseases at a rapid pace.
      Imputer leverages the 1000 Genomes Project reference data to provide users with genotype estimates at additional locations in their genome.
    </dd>

    <dt class="col-sm-3">Data Access</dt>
    <dd class="col-sm-9">Requests access to your genetic data in Open Humans (e.g. 23andMe)</dd>

    <dt class="col-sm-3">More Information</dt>
    <dd class="col-sm-9"><a href="/about">About Imputer</a></dd>

    <dt class="col-sm-3">Open Humans Project Page</dt>
    <dd class="col-sm-9"><a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a></dd>

    </dl>
  </div>
</div>
  <h2>How to impute your Open Humans genotype data:</h2>
  <!-- font is different than "lead" above. Try "lead" below-->
  <p></p>
  <ol>
    <i class="fa fa-mouse-pointer fa-2x"> &emsp; </i><b class="text-danger">Please read each of the steps below before proceeding</b> <b class="text-info">as both the "Login" button and the button below will start the process.</b><br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50"></div>
      </div>
      <br>
    <i class="fa fa-sign-in fa-2x"> &emsp; </i><b class="text-info">Log in or create an Open Humans account</b><br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="50"></div>
      </div>
      <br>
    <i class="fa fa-check-circle-o fa-2x"> &emsp; </i><b class="text-info">Authorize this app in Open Humans</b><br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="50"></div>
      </div>
      <br>
    <i class="fa fa-hand-o-right fa-2x"> &emsp; </i><b class="text-info">In the <a href="{% url 'dashboard' %}">Dashboard</a> select the connected genotype file you would like imputed.</b><br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="50"></div>
      </div>
      <br>
    <i class="fa fa-hourglass-start fa-2x"> &emsp;</i><b class="text-info">Wait...for an email from <b class="text-warning">Imputer</b>, this could take days or weeks. Access and manage data here: <a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a></b><br><br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="50" style="width: 95%"></div>
    </div>
  </ol>
  {% if client_id %}
  <a
    class="btn btn-primary btn-lg"
    href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code&redirect_uri={{redirect_uri}}"
    {% else %}
    class="btn btn-default disabled"
    {% endif %}
    >
    Start with Open Humans authorization
  </a>
  {% if not client_id %}
  <p class="text-muted"><i>
    This button is disabled because client_id hasn't been configured.
  </i></p>
  {% endif %}

{% endblock %}
