{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="jumbotron">
    <!-- Change font to fit width of page-->
      <h1 class="display-5">Genotype Imputation for Open Humans</h1>
    <p class="lead">
     This is the homepage for the
      <a href="https://www.openhumans.org/">Open Humans</a> genotype imputation app.
    </p>
    <p class="lead">
      Learn more by visiting the project page:<br>
      <a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a>
    </p>
    <br></br>
    <h2>How to impute your Open Humans genotype data:</h2>
    <!-- font is different than "lead" above. Try "lead" below-->
    <p></p>
    <ol>
      <li><b class="text-info">Click the button below</b><b class="text-danger"> but read on first</b><br>
        This takes you to Open Humans.</li>
      <li><b class="text-info">Log in or create an Open Humans account</b><br>
        This is the account Imputer will add data to.</li>
      <li><b class="text-info">Authorize this app in Open Humans</b><br>
        Click "Authorize", this authorizes the Imputer app to add data to your account.</li>
      <li><b class="text-info">Wait...for an email from 'Imputer'.</b><br>
        Genome imputation is a computaionally expensive task, please be patient as other members may be ahead of you in the queue.
        One member's imputation completes in approximately 7 hours with our current configuration.
        A file named <b>member.imputed.vcf</b> should be added to your Open Humans account.
        You'll be able to access and manage data here:
        <a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a>
      </li>
    </ol>
    {% if client_id %}
    <a
      class="btn btn-primary btn-lg"
      href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code&redirect_uri={{redirect_uri}}"
      {% else %}
      class="btn btn-default disabled"
      {% endif %}
      >
      Start with Open Humans authorization
    </a>
    {% if not client_id %}
    <p class="text-muted"><i>
      This button is disabled because client_id hasn't been configured.
    </i></p>
    {% endif %}
  </div>

{% endblock %}
